[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"psycopg2" = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
ipdb = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.6"
